<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imti.dao.MenuInfoDao">

	<!-- 根据父id查询子节点 -->
	<select id="findMenuInfoByParentId" parameterType="map" resultType="MenuInfo">
		select
			menu_id,
			parentId,
			menu_name,
			menu_state,
			menu_url,
			menu_icon,
			state,
			menu_delflag,
			opt_id,
			createTime,
			menu_remark
		from
			t_menuInfo
		where
			menu_delflag=0
		and
			parentId=#{parentId}
		and
			menu_id in
		<foreach collection="menuIds" item="menuId" open="(" close=")" separator=",">
			#{menuId}
		</foreach>	
	</select>

	<select id="getCurrentUserOwnMenus" parameterType="int" resultType="String">
		select
			rm.menu_id
		from
			t_user_role ur,
			t_role_menu rm
		where
			ur.role_id=rm.role_id
		and
			ur.user_id=#{user_id}
	</select>
	
	<select id="findAllMenuInfoByRoleId" parameterType="map" resultType="MenuInfo">
		select
			menu_id,
			parentId,
			menu_name,
			menu_state,
			menu_url,
			menu_icon,
			state,
			menu_delflag,
			opt_id,
			createTime,
			menu_remark
		from
			t_menuInfo
		where
			menu_delflag=0
		and
			parentId=#{parentId}
	</select>
	
	<select id="findRoleOwnerMenuByRoleId" parameterType="int" resultType="Integer">
		select
			menu_id
		from
			t_role_menu
		where
			role_id=#{role_id}
	</select>
	
	<delete id="deleteRoleOldMenuByRoleId" parameterType="int">
		delete from t_role_menu where role_id=#{role_id}
	</delete>
	
	<insert id="addRoleAndMenu" parameterType="map">
		insert into
			t_role_menu(
				role_id,
				menu_id
			)values(
				#{role_id},
				#{menu_id}
			)
	</insert>
	
	<select id="findAllMenuInfo" parameterType="int" resultType="MenuInfo">
		select
			menu_id,
			parentId,
			menu_name,
			menu_state,
			menu_url,
			menu_icon,
			state,
			menu_delflag,
			opt_id,
			createTime,
			menu_remark
		from
			t_menuInfo
		where
			menu_delflag=0
		and
			parentId=#{parentId}
	</select>
	
	<insert id="addMenuInfo" parameterType="MenuInfo">
		insert into
			t_menuInfo(
				parentId,
				menu_name,
				menu_state,
				menu_url,
				menu_icon,
				opt_id,
				menu_remark
			)values(
				#{parentId},
				#{menu_name},
				#{menu_state},
				#{menu_url},
				#{menu_icon},
				#{opt_id},
				#{menu_remark}
			)
	</insert>
	
	
	<update id="updateMenuInfo" parameterType="MenuInfo">
		update
			t_menuInfo
		set
			menu_name=#{menu_name},
			menu_url=#{menu_url},
			menu_icon=#{menu_icon},
			menu_remark=#{menu_remark}
		where
			menu_id=#{menu_id}
	</update>
	
	<!-- 判断用户是否存在或重复 -->
	<select id="findMenuNameIsExist" parameterType="String">
		select
			count(menu_name)
		from
			t_menuInfo
		where
			menu_name=#{menu_name}
	</select>
	
	<update id="deleteMenuInfo" parameterType="int" >
		update       
			t_menuInfo
		set
			menu_state='open',
			menu_delflag=1
		where
			menu_id=#{menu_id}
	</update>
	
	
	<select id="findMenuByid" parameterType="Integer" resultType="MenuInfo">
		select * from t_menuInfo where menu_id = #{menu_id}
	</select>

</mapper> 